

<div id="main">
    
    <div class="center">
        
            <h1>To-Do List</h1>
        <div class="InputArea">
    
            <div class="center">
                <div class="Inline">
                    <input  name="Task" placeholder="Enter The Task" #name>
                </div>
            </div>
            
            <div class="center">
                <div class="Inline">
                    <textarea  name="Desc" id="desc" cols="30" rows="3" placeholder="Enter Description" #desc></textarea>
                </div>
            </div>
        
            <div class="center" >
                <div class="center" style="text-align: center;">
                    <button style="text-align: center;" (click)="AddTask(name,desc)">
                        <span>Submit</span>
                    </button>
                </div>  
                <div class="center" style="text-align: center;">
                    <button id="DeleteAll" style="text-align: center;"  (click)="DeleteAll()">
                        <span>Delete All</span>
                    </button>
                </div>  
            </div> 
    
        </div>
    </div>
    
    <div class="Tasks">
        <app-tasks [TaskList]="tasks" [CompletedTaskList]="completedTasks" (Deleting)="Delete($event)" (DeletingCompleted)="DeletingCompleted($event)" (AddingToCompleted)="AddToCompleted($event)">
        </app-tasks>  
    </div>

</div>
